<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width-device-width, initial-scale-1.0">
    <link rel="stylesheet"href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel-"stylesheet" href="/css/styles.css">
    <title>Meme Poster</title>
</head>

<body>
    <header>
        <h1>Post Your Meme!</h1>
        <form id="upload-url-form">
            <input type="text" id="image-url" placeholder="Enter Image URL" />
            <button type="submit">Enter</button>
        </form>
        <nav>
            {{#if logged_in}}
                <a id="logout" href="#">Sign Out</a>
            {{else}}
                <a href="/signin">Sign In</a>
                <a href="/signup">Sign Up</a>
            {{/if}}
        </nav>
    </header>

    {{{body}}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>

</html>