<!-- Basic HTML header -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width-device-width, initial-scale-1.0">
        <link rel-"stylesheet" href="/css/styles.css">
        <title>Meme Poster</title>
    </head>
    <body>
        <header>
            <h1>Post Your Meme!</h1>
            <input>Enter Link</input>
            <button>Post</button>
            <nav>
            {{#if logged_in}}
                <a href="/">Sign Out</a>
            {{else}}
                <a href="/">Sign In</a>
                <a href="/">Sign Up</a>
            {{/if}}
            </nav>
        </header>
        
        {{{body}}}

    </body>
</html>