<form>
  <input type="text" id="image-url" placeholder="Enter Image URL" />
  <button type="submit">Enter</button>
</form>

<div id="feed">
  {{#each images}}
    <div class="post">
      <img src="{{this.url}}" alt="Image Post" />
    </div>
</div>