<section id="feed" class="container">
  {{#each posts}}
    <div class="post center">
      <img class="container card" src="{{this.url}}" alt="Meme" />
      {{!-- Render comments for each post --}}
      {{> comment logged_in=../logged_in post_id=this.id comments=this.comments}}
    </div>
  {{/each}}
</section>

<script src="/js/home.js"></script>