<header>
  <h1>Post Your Meme!</h1>
  <form id="upload-url-form">
    <input types="text" id="image-url" placeholder="Enter Image URL" required/>
    <button type="submit">Enter</button>
  </form>
  <nav>
    {{#if logged_in}}
      <a id="logout" href="#">Sign Out</a>
    {{else}}
      <a href="/signin">Sign In</a>
      <a href="/signup">Sign Up</a>
    {{/if}}
  </nav>
</header>

{{!== views/home.handlebars ==}}
<section id="feed">
  {{#each posts}}
    <div class="post">
      <img src="{{this.url}}" alt="Meme" />
      <p>{{this.caption}}</p>
    </div>
  {{/each}}
</section>

<script src="/js/home.js"></script>