<!-- Home Page -->
{{#extend "main"}}

  <!-- Top Section/Post Upload -->
  {{#content "body"}}
    {{#if logged_in}}
      <a href="/signout">Sign Out</a>
    {{else}}
      <a href="/signin">Sign In</a>
      <a href="/signup">Sign Up</a>
    {{/if}}

    {{! List of memes }}
    {{#each posts}}
      <div class="card center">
        <img href="" />
      </div>
    {{/each}}
  {{/content}}

{{/extend}}